
/* Page Updates */

.page ul li::before {
  content: "\2794"; 
  color: #eee;
  font-weight: bold;
  display: inline-block;
  width: 1.25em; 
  margin-left: -1.25em; /* Also needed for space (tweak if needed) */
}

.page ul {
  list-style-type: none;
  padding: 0;
}

.page li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.page li a {
	text-decoration: underline;
}

.page h4 {
  margin: 20px 0 0 0;
  color: #a0a0a0;
  font-size: 16pt;
  font-weight: normal;
}

.page h2 {
  margin: 40px 0 0 0;
}

article div.postmeta {
  margin: 0 0 10px 0;
}

article.micropost p > img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  padding: 10px;
}

/* Post */

figure {
  margin: 0 0 20px 0;
}

figure img {
  width: 100%;
}

figcaption {
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #999999;
}

.highlight {
  overflow: scroll;
}

.yellow-highlight {
  background-color: #FFFEDC;
}
