Engineering Manager for Diner Apps at <a href="https://www.grubhub.com">Grubhub</a>. 
I also enjoy <a href="https://www.flickr.com/photos/87151163@N00/">photography</a>, 
learning languages (🇯🇵, 🇩🇪, 🇪🇸, 🇺🇦, 🇵🇹), and <a href="https://letterboxd.com/jnjosh/films/diary/">watching movies</a>. 
See what else I'm <a href="/now">doing now</a>.

<br /><br />

Follow me on <a href="http://twitter.com/jnjosh">Twitter</a>, <a href="https://instagram.com/jnjosh">Instagram</a>, and <a href="http://github.com/jnjosh">Github</a>
