I'm an Engineering Manager at <a href="https://adobe.com">Adobe</a>, a <a href="https://jnjosh.photography">photographer</a> sharing photos on <a href="https://glass.photo/jnjosh">Glass.photo</a>, and I <a href="https://letterboxd.com/jnjosh/films/diary/">watch a lot of movies</a>. 
See what else I'm <a href="/now">doing now</a>.

<br /><br />

Follow me on <a href="http://twitter.com/jnjosh">Twitter</a>, <a rel="me" href="https://mastodon.social/@jnjosh">Mastodon</a>, <a href="https://instagram.com/jnjosh">Instagram</a>, and <a href="http://github.com/jnjosh">Github</a>
