<link rel="stylesheet" href="{{ .Site.BaseURL }}css/jnjosh.css" type="text/css" />
<link rel="micropub" href="https://micropub-jnjosh.herokuapp.com/micropub/main">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="webmention" href="https://webmention.io/jnjosh.com/webmention" />
<link rel="pingback" href="https://webmention.io/jnjosh.com/xmlrpc" />

<link href="https://github.com/jnjosh" rel="me" />
<link href="https://twitter.com/jnjosh" rel="me" />
<link href="https://micro.blog/jnjosh" rel="me" />