{{ define "main" }}
  <article class="entry entry--page">
    <header class="entry__header">
      <h1 class="entry__title">Four Oh Four</h1>
    </header>
    <div class="entry__content">
      <p>Hi there hello! Well, sorry &mdash; but that&rsquo;s not found. Four Oh Four,
      <span lang="it">quattro zero quattro</span>. If you know what I mean.</p>

      <p>I mean, if you want something let&rsquo;s just talk on
      <a href="https://mastodon.social/@jnjosh">Mastodon</a>? Or head
      <a href="/">back to the front page</a>.</p>
    </div>
  </article>
{{ end }}
